
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
       <app-logo-component></app-logo-component>
       <app-hamburger-component></app-hamburger-component>
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <div class="justify-content-between d-flex col-12">
              <app-left-menu></app-left-menu>
              <app-right-menu></app-right-menu>
            </div>
          </div>
        </div>
    </nav>
  </header>